{% extends "layout.html" %}
{% block content %}

			<div style="width:100%;" onload="fun1()">
            
				<font size='10px' ><b><i><u>
					Some Basic Precautions<br>
				</font></b></i></u>
				<font size='5px'>
					1.	Don’t smoke and drink.<br>
					2.	Eat a balanced diet with less cholesterol (prefer non-oily food).<br>
					3.	Exercise regularly. {yogic tips to boost immunity are also given}<br>
					4.	Get adequate sleep in quarantine time.<br>
					5.	Take steps to avoid infections such as washing or sanitizing hands frequently,<br> having bath after every outside visit, wash things you bought before keeping <br>them inside and sanitize your keys ,purses, door handles.<br>
					6.	Wear mask and gloves  ,whenever you go outside.<br>
					7.	Try to minimize stress.<br>
					8.	If you are addicted to alcohol, drink only in moderation.<br>
					9.	Cover your face while sneezing and coughing.<br>
					10.	Follow social distancing if you visit a public place.<br>
				</font>
			</div>

   
  
{% endblock content %}