{% extends "layout.html" %}
{% block content %}
 

			<div style="width:100%;" onload="fun1()">
            
				<font size='5px'>
					•As we all are well aware of the situation of Covid-19, there are precautions that should be taken to control the pandemic but people are not following the measures. <br>
					•So, here we have a solution with a web application which work for police to recognize defaulters who are not obeying the rules through the data of cctv. <br>
					•features of this web application are:-<br>
					&emsp;	1.It recognize the person not wearing the mask. <br>
					&emsp;	2.It gives the information to the cops about the person. <br>
					&emsp;	3.The app can be accessible to the police officer on duty so that <br>&emsp;they can either caught or send a warning to the guilty person.<br> 
					&emsp;	4.The fear that all are under observation everytime lead the public<br>&emsp; more aware to follow the rules. <br>
					&emsp;	5.Also it helps to find the infected person in less time which lead <br>&emsp;to control over spread of virus.<br>
				</font>
			</div>

   


{% endblock content %}