{% extends "layout.html" %}
{% block content %}
 

			<div style="width:100%;" onload="fun1()">
            
				<font size='10px' ><b><i><u>
					Some Yogic Precautions<br>
				</font></b></i></u>
				<font size='5px'>
					1.	Pranayama techniques can significantly boost immunity.<br>
					2.	Practices such as Kapalbhati and Suryabhedan pranayam <br>boost serotonin levels.<br>
					3.	Techniques such as Bhastrika Pranayama, Anulom Vilom Pranayama,<br> Swaas Dhyan or breath meditation should be practiced every day.<br>As they help you to prevent symptoms of breathing and keep you <br>away from such infections.<br> 
					4.	Suryanamaskar maintains your physical and  mental stabilities <br>and keep us tension free and stress reliever. <br>
					5.	It will be great if you have a warm up session a day such as <br>sit-ups, stat jogging, push-ups, etc. <br>
					
					<font size="5px" ><b><i><u>Note-If you are starting yoga in this time try to avoid tiredness as don't have warmup session in first week and then starts slowly. As exercising suddenly reduce your calorie level which may lead to reduce your immunity, and even some people have chances to fall their health level in doing random or sudden high work outs.
					</font></b></i></u>
				</font>
			</div>

   
  
{% endblock content %}